[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
otxv2 = "*"
pandas = "*"
requests = "*"
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
